body {
    background-color: green;
}

img {
    background-color: pink;
    width: 30vw;
    border: solid black 10px;
    padding: 40px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

div {
    text-align: center;
}

p{
    background-color: yellow;
    font-size: 36px;
    padding: 4vw;
    border: dotted pink 7px;
    margin: 4vw;
}