p {
    margin:2%; 
    width: 40%;
    font-style: oblique; 
    font-family: cursive; 
    font-size: large;
    text-align: center; 
    font-size: 30px;
    
    border-style: groove; 
    border-width: 5px;
    background-color:lightskyblue;

    display: block; 
    margin-left: auto; 
    margin-right: auto;

    border-radius: 1000px;

    display: none;
}

a{
    text-decoration: none;
}

p:hover {
    background-color:deepskyblue;
    animation-name: color, scale;
    animation-iteration-count: infinite, infinite;
    animation-duration: 3s,3s;
    animation-timing-function: ease linear; 
}

h1 {
    margin-top: 30px;
}

#week1_check{
    position: fixed;
    left: 130px;
    top:230px;
}

#week2_check{
    position: fixed;
    left: 150px;
    top:330px;
}

#week3_check{
    position: fixed;
    left: 170px;
    top:270px;
}

#week4_check{
    position: fixed;
    left: 190px;
    top:330px;
}

#week5_check{
    position: fixed;
    left: 210px;
    top:230px;
}

#week6_check{
    position: fixed;
    left: 210px;
    top:400px;
}

#week7_check{
    position: fixed;
    left: 130px;
    top:400px;
}

#E1_check{
    position: fixed;
    left: 130px;
    top:425px;
}

#E2_check{
    position: fixed;
    left: 130px;
    top:475px;
}

#E3_check{
    position: fixed;
    left: 170px;
    top:400px;
}

#E4_check{
    position: fixed;
    left: 170px;
    top:500px;
}

#week11_check{
    position: fixed;
    left: 170px;
    top:450px;
}

#week9_check{
    position: fixed;
    left: 130px;
    top:450px;
}

#week10_check{
    position: fixed;
    left: 210px;
    top:500px;
}

#week8_check{
    position: fixed;
    left: 130px;
    top:500px;
}

#w1_check{
    position: fixed;
    left: 170px;
    top:570px;
}

#Week12_check{
    position: fixed;
    left: 130px;
    top:570px;
}

#W2_check{
    position: fixed;
    left: 130px;
    top:620px;
}

#W3_check{
    position: fixed;
    left: 170px;
    top:620px;
}
#W4_check{
    position: fixed;
    left: 170px;
    top:670px;
}
#W5_check{
    position: fixed;
    left: 130px;
    top:670px;
}
#W6_check{
    position: fixed;
    left: 190px;
    top:645px;
}
#W7_check{
    position: fixed;
    left: 190px;
    top:595px;
}

@keyframes color {
    0%   { background: color lightskyblue; }
    25%  { background-color:rgb(40, 163, 239);  }
    75% { background-color: #f25738; }
    100%   { background: color lightskyblue; }
  }

@keyframes scale {
    0%   { scale: 1; }
    25%  { scale: 1.15;  }
    50%  { scale: 1.2; }
    75%  { scale: 1.15; }
    100% { scale: 1; }
  }